{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-cointopay" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i
                            class="fa fa-reply"></i></a></div>
            <h1><i class="fa fa-credit-card"></i> {{ heading_title }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        {% if error.error_warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error.error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if error_invalid_currency %}
            <div class="text-danger">{{ error_invalid_currency }}</div>
        {% endif %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-cointopay"
              class="form-horizontal">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab-general">
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry-display-name">
                            <span data-toggle="tooltip"
                                  title="{{ help_display_name_hint }}">{{ entry_display_name }}</span>
                        </label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_fiat_intl_cc_display_name"
                                   value="{{ cointopay_fiat_intl_cc_display_name }}" placeholder="{{ entry_display_name }}"
                                   id="cointopay_display_name" class="form-control"/>
                            {% if error_display_name %}
                                <div class="text-danger">{{ error_display_name }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="entry-security-code">
                            <span data-toggle="tooltip"
                                  title="{{ help_api_key_hint }}">{{ entry_security_code }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_fiat_intl_cc_security_code"
                                   value="{{ cointopay_fiat_intl_cc_security_code }}" placeholder="{{ entry_security_code }}"
                                   id="cointopay_security-code" class="form-control"/>
                            {% if error_api_key %}
                                <div class="text-danger">{{ error_api_key }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="cointopay_merchant_id">
                            <span data-toggle="tooltip"
                                  title="{{ help_merchant_id_hint }}">{{ entry_merchant_id }}</span></label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_fiat_intl_cc_merchant_id"
                                   value="{{ cointopay_fiat_intl_cc_merchant_id }}"
                                   placeholder="{{ entry_merchant_id }}" id="cointopay_merchant_id" class="form-control"/>
                            {% if error_merchant_id %}
                                <div class="text-danger">{{ error_merchant_id }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="cointopay_fiat_intl_cc_order_status_id">{{ entry_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cointopay_fiat_intl_cc_order_status_id" id="cointopay_fiat_intl_cc_order_status_id"
                                    class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id  ==  cointopay_fiat_intl_cc_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}"
                                                selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="payment_cointopay_fiat_intl_cc_callback_success_order_status_id">
                            {{ entry_callback_success_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cointopay_fiat_intl_cc_callback_success_order_status_id"
                                    id="payment_cointopay_fiat_intl_cc_callback_success_order_status_id" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id  ==  cointopay_fiat_intl_cc_callback_success_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}"
                                                selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"
                               for="entry-callback-order-status">{{ entry_callback_failed_order_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cointopay_fiat_intl_cc_callback_failed_order_status_id"
                                    id="cointopay_callback_failed_order_status_id" class="form-control">
                                {% for order_status in order_statuses %}
                                    {% if order_status.order_status_id  ==  cointopay_fiat_intl_cc_callback_failed_order_status_id %}
                                        <option value="{{ order_status.order_status_id }}"
                                                selected="selected">{{ order_status.name }}</option>
                                    {% else %}
                                        <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                                    {% endif %}
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_cointopay_fiat_intl_cc_status" id="input-status" class="form-control">
                                {% if cointopay_fiat_intl_cc_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_cointopay_fiat_intl_cc_sort_order"
                                   value="{{ payment_cointopay_fiat_intl_cc_sort_order }}" placeholder="{{ entry_sort_order }}"
                                   id="input-sort-order" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{ footer }}